* {
  padding: 0;
  margin: 0;
}

.drag {
  -webkit-app-region: drag;
}
button,
a,
input,
select {
  -webkit-app-region: no-drag;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2c1b3f1c;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(59, 60, 150, 0.5);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(99, 102, 241, 1);
}

* {
  user-select: none;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

html,
body {
  overflow: hidden;
}
